* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0d0d0d;
  color: white;
}
/* header-start */
.header {
  padding-top: 65px;
  padding-bottom: 24px;
}
.header-contiener {
  max-width: 1414px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  display: flex;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 48px;
  background-color: #171717;
  border-radius: 50px;
  border: 1px solid #262626;
  padding: 20px 34px;
}

.nav-link {
  text-decoration: none;
  color: #7a7a7a;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
}
.header-btn {
  text-decoration: none;
  color: #cccccc;
  border: 1px solid #262626;
  border-radius: 100px;
  background-color: #171717;

  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  text-align: left;
  padding: 16px 28px;
}

.header-homburger {
  width: 48px;
  height: 48px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}
@media (max-width: 840px) {
  .header {
    padding-top: 40px;
  }
  .header-logo img {
    width: 66px;
  }
  .nav-list {
    display: none;
  }
  .header-btn {
    display: none;
  }
  .header-homburger {
    display: flex;
  }
}
/* header-end */

.hero {
  padding-top: 125px;
  padding-bottom: 119px;
}
.hero-contiener {
  max-width: 723px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  text-align: center;
}
.hero-title {
  font-family: Poppins, sans-serif;
  font-size: 132px;
  font-weight: 500;
  line-height: 132px;
  letter-spacing: -2.4000000953674316px;
  text-align: center;
  background: linear-gradient(243.33deg, #fffff7 8.55%, #727267 100%);
  color: transparent;
  background-clip: text;
  margin-bottom: 30px;
}
.hero-text {
  font-family: Inter, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: -0.18000000715255737px;
  text-align: center;
  color: #7d7f78;
  max-width: 516px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 49px;
}
.hero-link {
  background-color: white;
  /* display: flex; */
  align-items: center;
  display: inline-flex;
  gap: 24px;
  padding: 9px 15px 10px 20px;
  border-radius: 22px;
  text-decoration: none;

  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

@media (max-width: 768px) {
  .hero {
    padding-top: 100px;
  }
  .hero-title {
    font-size: 53px;
    line-height: 1;
    margin-bottom: 25px;
  }
  .hero-text {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  .hero-link {
    font-size: 16px;
  }
  .hero-link img {
    width: 30px;
  }
}
.asoschilar {
  padding-top: 119px;
  padding-bottom: 90.5px;
}
.asoschilar-contiener {
  max-width: 1092px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.link-3 {
  display: flex;
  gap: 27px;
  text-align: center;
}
.link-2 {
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 52.8px;
  letter-spacing: -1.3200000524520874px;
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  margin-bottom: 65px;
  background-clip: text;
  color: transparent;
}
.asoschilar-link {
  border-radius: 30px;
  padding-left: 18px;
  padding-right: 17px;
  padding-bottom: 32px;
  background-color: #4c4c4c;
  max-width: 254px;
}
.asoschilar-logo {
  border-radius: 29px;
  max-width: 120px;
  margin-bottom: 24px;
  margin-top: -17px;
}
.asoschilar-text {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.5199999809265137px;
  text-align: center;
}

.klub {
  padding-top: 90.5px;
  padding-bottom: 78.5px;
}
.klub-contiener {
  max-width: 1092px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.klub-link {
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 52.8px;
  letter-spacing: -1.3200000524520874px;
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  background-clip: text;
  margin-bottom: 80px;
  color: transparent;
}
.klub-logo {
  display: flex;
  justify-content: space-between;
}
.klub-btn {
  display: flex;
  align-items: center;
  background-color: #262626;
  border: 1px;
  border-radius: 30px;
  gap: 20px;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 21px;
  padding-right: 15px;
  max-width: 329px;
  width: 100%;
}

.klub-text {
  color: #cccccc;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.5199999809265137px;
  text-align: left;
}

.detailst {
  padding-top: 78.5px;
  padding-bottom: 78.5px;
}
.detailst-cntiener {
  max-width: 1092px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  text-align: center;
}
.detailst-title {
  font-family: Poppins, sans-serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 52.8px;
  letter-spacing: -1.3200000524520874px;
  text-align: center;
  background: linear-gradient(
    71.83deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;

  margin-bottom: 47px;
}
.detailst-left {
  padding-top: 35px;
  position: 76px;
  padding-right: 79px;
  padding-bottom: 71px;
  align-items: center;
}
.detailst-title-row {
  display: grid;
  gap: 36px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.detailst-left-col {
  display: grid;
  gap: 22px;
  grid-column: span 2;
}

.detailst-title-row .detailst-left-col:nth-child(1) {
  grid-column: span 1;
}
.detailst-title-row .detailst-left-col:nth-child(2) {
  grid-column: span 1;
}

.detailst-left-col-title {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.detailst-left-col-input {
  padding: 20px 18px;
  border: 1px solid #9f9f9f;
  outline: none;
  border-radius: 22px;
}
.detailst-link {
  background-color: white;
  /* display: flex; */
  align-items: center;
  display: inline-flex;
  gap: 24px;
  padding-bottom: 11px;
  padding-top: 10px;
  padding-right: 11px;
  padding-left: 14px;
  border-radius: 22px;
  text-decoration: none;
  max-width: 235px;

  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: #000000;

  margin-top: 40px;
}

.kimiz {
  padding-top: 78.5px;
  padding-bottom: 58px;
}
.kimiz-contiener {
  max-width: 1092px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 49px;
}
.kimiz-tittle {
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 52.8px;
  letter-spacing: -1.3200000524520874px;
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  background-clip: text;
  color: transparent;
  text-align: center;
  margin-bottom: 86px;
}
.kimiz-title2 {
  color: #cccccc;
  font-family: Poppins, sans-serif;
  font-size: 51px;
  font-weight: 600;
  line-height: 41.8px;
  letter-spacing: -1.1399999856948853px;
  text-align: left;
  margin-bottom: 35px;
}
.kimiz-text {
  color: #cccccc;
  font-family: Poppins, sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 41.8px;
  letter-spacing: -1.1399999856948853px;
  text-align: left;
}

.azolar {
  padding-top: 100px;
  padding-bottom: 90px;
}
.azolar-contiener {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.azolar-link {
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 52.8px;
  letter-spacing: -1.3200000524520874px;
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  margin-bottom: 60px;
}
.azolar-logo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.azolar-title {
  font-family: Poppins, sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 73.5px;
  letter-spacing: -1.399999976158142px;
  text-align: center;
  background: linear-gradient(
    29.07deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  margin-bottom: 12px;
}
.azolar-text {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.20000000298023224px;
  text-align: center;
  color: #7a7a7a;
}

.missiya {
  padding-top: 85px;
  padding-bottom: 75px;
}
.missiya-contiener {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.missiya-link {
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 52.8px;
  letter-spacing: -1.3200000524520874px;
  text-align: center;

  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  margin-bottom: 40px;
}
.missiya-box {
  display: flex;
  background: linear-gradient(113.49deg, #ffffff 0%, #d2d2d2 100%);
  border-radius: 24px;
  padding: 78px 99px;
  padding: 75px;
  position: relative;
}
.missiya-link-title {
  color: #000000;
  font-family: Poppins, sans-serif;
  font-size: 45px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -1.6200000047683716px;
  text-align: center;
}
.missiya-img {
  position: absolute;
  bottom: -33px;
  right: -100px;
  max-width: 190px;
}

.why-us {
  padding-top: 75px;
  padding-bottom: 105px;
}
.why-us-contiener {
  max-width: 1138px;
  margin-left: auto;
  margin-right: auto;
}
.why-us-title {
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 52.8px;
  letter-spacing: -1.3200000524520874px;
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  margin-bottom: 85px;
}
.why-us-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px 82px;
}

.why-us-row .why-us-col:nth-child(1) {
  order: 0;
}

.why-us-row .why-us-col:nth-child(6) {
  order: 6;
}
.why-us-row .why-us-col:nth-child(3) {
  order: 5;
}
.why-us-row .why-us-col:nth-child(5) {
  order: 4;
}
.why-us-row .why-us-col:nth-child(2) {
  order: 3;
}
.why-us-col {
  background-color: white;
  padding: 17px 27px 17px 25px;
  display: flex;
  align-items: center;
  gap: 24px;
  border-radius: 24px;
}
.why-us-col-title {
  color: #e0e0e0;
  font-family: Poppins, sans-serif;
  font-size: 120px;
  font-weight: 500;
  line-height: 132px;
  letter-spacing: -0.5199999809265137px;
  height: 84px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.why-us-col-text {
  color: #000000;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -1.1399999856948853px;
}

.requirement {
  padding-top: 105px;
  padding-bottom: 91px;
}
.requirement-contiener {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
}
.requirement-title {
  color: #ffffff;
  font-family: Poppins, sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 50.8px;
  letter-spacing: -1.3200000524520874px;
  text-align: center;
  margin-bottom: 87px;
}
.requirement-hiding {
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30.8px;
  letter-spacing: -1.3200000524520874px;
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  margin-bottom: 79px;
}
.requirement-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 52px;
}
.requirement-col {
  border: 1px solid #262626;
  background-color: #1b1b1b;
  display: flex;
  gap: 16px;
  align-items: center;
  border-radius: 30px;
  padding: 31px 22px 32px 16px;
  max-width: 329px;
}
.requirement-col-img {
  width: 100px;
  height: 100px;
}
.requirement-col-text {
  color: #cccccc;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.5199999809265137px;
  text-align: left;
}
.meeting {
  background-color: white;
  color: black;
  padding-top: 87px;
  padding-bottom: 107px;
}
.meeting-contiener {
  max-width: 1092px;
  margin-left: auto;
  margin-right: auto;
}
.meeting-title {
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 52.8px;
  letter-spacing: -1.3200000524520874px;
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #000000 0%,
    rgba(24, 24, 24, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  margin-bottom: 87px;
}
.meeting-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 62px;
}
.meeting-col {
  display: flex;
  gap: 30px 22px;
}
.meeting-col-logo {
  width: 60px;
  height: 60px;
}
.meeting-col-text {
  font-family: Poppins, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -1.1399999856948853px;
  text-align: left;
}
.meeting-col-text-title {
  font-weight: 600;
}
.qoshilish {
  padding-top: 87px;
  padding-bottom: 87px;
  background-color: black;
}
.qoshilish-contiener {
  max-width: 1060px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.qoshilish-title {
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 52.8px;
  letter-spacing: -1.3200000524520874px;
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  margin-bottom: 79px;
}
.logo-3 {
  text-decoration: none;
}
.qoshilish-img {
  margin-bottom: 14px;
  max-width: 74px;
}
.qoshilish-text {
  color: black;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -1px;
  text-align: left;
}

.qoshilish-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 24px;
  border: 1px solid #858585;
  padding: 18px 27px;
  padding-left: 80px;
  padding-right: 57px;
  background-color: white;
}

.title-1 {
  font-family: Poppins, sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 52.8px;
  letter-spacing: -1.3200000524520874px;
  text-align: center;
  color: #ffffff;

  margin-bottom: 41px;
}

.img-8-1 {
  margin-top: 100px;
}
.img-8 {
  gap: 50px;
}

.club {
  padding-top: 68px;
  padding-bottom: 56px;
}
.club-contiener {
  max-width: 1292px;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.culb-logo {
  margin-right: auto;
}
.culub-img {
  max-width: 69px;
}
.club-title {
  color: #c9c9c9;
  text-align: center;
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 17.91px;
  text-align: left;
  text-align: center;
  margin-left: auto;
}
.club-logo-2 {
  display: flex;
  margin-left: auto;
  gap: 25px;
}
.club-text {
  color: #c8c8c8;
  font-family: SF Pro Display, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
}

.money {
  padding-top: 104px;
  padding-bottom: 104px;
}
.money-contiener {
  max-width: 1082px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.money-info-link {
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 52.8px;
  letter-spacing: -1.3200000524520874px;
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  margin-bottom: 78px;
}
.money-info-text {
  color: #cccccc;
  font-family: Poppins, sans-serif;
  font-size: 115px;
  font-weight: 500;
  line-height: 55px;
  letter-spacing: -1.6200000047683716px;
  text-align: center;
  margin-bottom: 64px;
}
.box {
  border-bottom: 2px dashed #4c4c4c;
  margin-bottom: 60px;
}
.month-contiener {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}
.month-title {
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 52.8px;
  letter-spacing: -1.3200000524520874px;
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  margin-bottom: 64px;
}
.month-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 47px;
}
.month-row .month-col:nth-child(2) {
  background-color: #1b1b1b;
  transform: translateY(36px);
}
.month-row .month-col:nth-child(3) {
  background-color: #121212;
}
.month-col {
  border: 1px solid #262626;
  background-color: #303030;
  padding: 34px 32px 33px;
  border-radius: 30px;
  position: relative;
}
.link-5 {
  color: #cccccc;
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.5199999809265137px;
  text-align: center;
  margin-bottom: 28px;
}
.text-5 {
  color: #cccccc;
  font-family: Poppins, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.5199999809265137px;
  text-align: center;
}

.link-6 {
  color: #cccccc;
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.5199999809265137px;
  text-align: center;
  margin-bottom: 28px;
}
.text-6 {
  color: #cccccc;
  font-family: Poppins, sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.5199999809265137px;
  text-align: center;
}
.price-col-month {
  color: #ffffff;
  font-family: Poppins, sans-serif;
  font-size: 140px;
  font-weight: 600;
  line-height: 0.6;
  letter-spacing: -0.5199999809265137px;
  text-align: center;
  position: absolute;
  opacity: 5%;
  top: -3;
  left: 0;
}
@media (max-width: 940px) {
  .month-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .month-row .month-col:nth-child(2) {
    transform: translate(0);
  }
}
@media (max-width: 768px) {
  .box {
    margin-bottom: 30px;
  }
  .month-title {
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 30px;
  }
  .month-row {
    gap: 30px;
  }
  .month-col {
    border-radius: 20px;
    padding: 30px 32px;
  }
  .link-6 {
    font-size: 28px;
    margin-bottom: 20px;
  }
}
.section {
  padding-top: 103px;
  padding-bottom: 98px;
}
.section-container {
  max-width: 1239px;
  margin-left: auto;
  margin-right: auto;
}
.section-title {
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 52.8px;
  letter-spacing: -1.3200000524520874px;
  text-align: center;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  margin-bottom: 74px;
}
.section-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px 26px;
}
.section-col {
  background-color: #1b1b1b;
  border: 1px solid #262626;
  padding: 14px 14px 21px 15px;
  border-radius: 30px;
}
.section-img {
  width: 100%;
  object-fit: cover;
  height: 170px;
  border-radius: 20px;
  margin-bottom: 24px;
  display: block;
}
.section-col-title {
  color: #ffffff;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.5199999809265137px;
  text-align: left;
  margin-bottom: 10px;
  padding-left: 7px;
}
.section-col-title-text {
  color: #cecece;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 13px;
  letter-spacing: -0.5199999809265137px;
  text-align: left;
  padding-left: 7px;
  max-width: 214px;
}
.section-col-count {
  color: #ffffff;
  font-family: Poppins, sans-serif;
  font-size: 120px;
  font-weight: 500;
  line-height: 132px;
  letter-spacing: -0.5199999809265137px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  .section-row {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .section {
    padding-top: 22px;
    padding-bottom: 24px;
  }
}

@media (max-width: 768px) {
  .section-row {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 520px) {
  .section-row {
    grid-template-columns: 1fr;
  }
  .section-title {
    font-size: 30px;
    margin-bottom: 40px;
  }
}

.question {
  padding-top: 110px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.question-contiener {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(113.49deg, #1a1a1a 0%, #0d0d0d 100%);
  padding-top: 62px;
  padding-bottom: 64px;
  border-radius: 24px;
}
.question-title {
  font-family: Poppins, sans-serif;
  font-size: 45px;
  font-weight: 500;
  line-height: 55px;
  letter-spacing: -1.6200000047683716px;
  text-align: center;
  margin-bottom: 23px;
  color: #cccccc;
}
.title-3 {
  display: block;
  font-family: Poppins, sans-serif;
  font-size: 35px;
  line-height: 55px;
}
.question-list {
  background-color: white;
  color: #adadad;
  max-width: 866px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 61px;
  list-style: none;
  border-radius: 22px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.question-link {
}
.question-list .question-link:nth-child(2) {
  border-left: 3px dashed #c1c1c1;
  border-right: 3px dashed #c1c1c1;
  padding-left: 37px;
  padding-right: 38px;
}
.question-text {
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 14px;
  text-align: left;
  margin-bottom: 12px;
}
.question-logo {
  color: #000000;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -0.04em;
  text-align: left;
  text-decoration: none;
}

@media (max-width: 940px) {
  .question-contiener{
    padding-left: 30px;
    padding-right: 30px;
  }
  .question-list {
    flex-direction: column;
    align-items: start;
    padding: 20px 40px;
    gap: 15px;
  }
  .question-link {
    max-width: 100%;
    display: block;
    width: 100%;
  }
  .question-list .question-link:nth-child(2) {
    border-left: none;
    border-right: none;
    padding: 0;
    border-top: 3px dashed #c1c1c1;
    border-bottom: 3px dashed #c1c1c1;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 37px;
  }
}
@media (max-width:768px){
  .question{
    padding: 0;
    padding-top: 30px;
    padding-bottom: 1px;
  }
  .question-contiener{
    padding: 35px 20px;
    border-radius: 0;

  }
  .question-title{
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 23px;
  }
  .title-3{
    font-size: 24px;
    line-height: 1.2;
  }
  .question-list{
    padding: 16px;
  }
}